<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-trackingio" version="1.0.0">
    <name>TrackingIOCordovaPlugin</name>
    <description>TrackingIO2.0 Cordova Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,TrackingIO,reyun,sdk</keywords>
    <repo>https://github.com/tadazly/cordova-plugin-trackingio.git</repo>

    <preference name="TRACKINGIO_APPKEY" />

    <js-module src="www/Tracking.js" name="Tracking">
        <clobbers target="Tracking" />
        <clobbers target="cordova.plugins.Tracking" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Tracking">
                <param name="android-package" value="com.tadazly.trackingio.TrackingIOCordovaPlugin" />
            </feature>
            <preference name="TRACKINGIO_APPKEY" value="$TRACKINGIO_APPKEY" />
        </config-file>

        <!-- oaid_sdk_1.0.25.aar minSdkVersion is 21, but my project is 19, so add this : start -->
        <!-- <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
            <manifest xmlns:tools="http://schemas.android.com/tools" />
        </edit-config>
        <edit-config file="AndroidManifest.xml" target="/manifest/uses-sdk" mode="merge">
            <uses-sdk tools:overrideLibrary="com.bun.miitmdid" />
        </edit-config> -->
        <!-- oaid_sdk_1.0.25.aar minSdkVersion is 21, but my project is 19, so add this : end -->

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>


        <source-file src="src/android/TrackingIOCordovaPlugin.java" target-dir="src/com/tadazly/trackingio" />
        <source-file src="src/android/libs/tracking1.9.2.jar" target-dir="libs" />
        <source-file src="src/android/libs/oaid_sdk_1.0.25.aar" target-dir="libs" />
        <source-file src="src/android/libs/bcprov-jdk16-139.jar" target-dir="libs" />
        <source-file src="src/android/assets/supplierconfig.json" target-dir="assets" />
        <framework src="src/android/trackingio-build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>